.catalogo{
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card{
    width: 260px;
    height: 320px;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.anadirCarrito{
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 30px;
    margin: 0; 
}